<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ADMIN MAIN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/dashBoard.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://kit.fontawesome.com/9d595d1bf3.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav>
    <div class="logos">
      <a href="index.html"><img class="logo-img" src="../images/logo1.jpg"></a>
      <label class="logo">BlueLock</label>
    </div>
    <ul>
      <li class="link"><a class="active anc" href="dashBoard">Home</a></li>
      <li class="link"><a class="anc" href="AllEvents">ALL EVENTS</a></li>
      <li class="link"><a class="anc" href="addEvent">ADD EVENT</a></li>
      <li class="link"><a class="anc" href="#">Feedback</a></li>
      <li class="link"><a class="anc" href="#">About</a></li>
    </ul>
  </nav>

  <div class="center-text">
    <p>LET'S START THE GAME</p>
  </div>
</body>

</html>
